
  .container{

    margin:0;
    background-color: rgb(49, 46, 46);
    padding-bottom: 50px;
  }
  .row{
    display: flex;
    flex-wrap:wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #24262b;
    padding: 0px 0;
    
    
    
    width: 100%;
  }
  .footer-col{
    width: 25%;
      
    
    
  }
  .footer-remastered{
    margin-top:200px;
  
  }
  .footer-col h4{
    font-size: 18px;
    color:#f1f1f1;
    text-transform: capitalize; 
    margin-bottom: 30px;
    font-weight:500;
    position:relative;
  }
  footer p{
       text-align: center;
       color: white;
  }
  .footer-col h4::before{
    content: '';
    position:absolute;
    
    bottom: -6px;
    background-color: rgb(75, 65, 39);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
 .footer-col ul li:not(:last-child){
   margin-bottom: 10px;
 }
 .footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   color:#ffffff;
   text-decoration: none;
   font-weight: 300;
   color: #bbbbbb;
   display: block;
   transition: all 0.3s ease;
   text-align: left;
   padding-left: 50px;
 }
 .footer-col ul li a:hover{
   color:rgb(10, 2, 3);
   transform:scale(1.2);

 }
 .footer-col .social-links{
   text-align: left;

 }
 .footer-col .social-links a{
   display:inline-block;
   height: 40px;
   width: 40px;
   background-color: rgb(204, 197, 197);
   margin: 0 10px 10px 0;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
   color:rgb(47, 163, 91);
   transition: all 0.3s ease;
 }
 .footer-col .social-links a:hover{
  color:rgb(148, 121, 32);
  transform:scale(1.2);
 }
 #Newsletter{
   text-align:  left;
   color:rgb(160, 153, 153);
 }
 #Email{
   width:70%;
   border-radius: 5px;
 }
 #submit{
   width:20%;
   text-align: center;
   font-size: 12px;
   border-radius: 5px;
 }

@media(max-width: 550px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;

}
}

